.rsvp-container {
    min-height: 100dvh;
    overflow: hidden;
    background-image: url("../images/0068-1-1024x1024.jpg");
    background-size: 500px;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--size-4) 0;
}

.rsvp-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    padding: var(--size-9) var(--size-4);
    gap: var(--size-4);
    background-color: color-mix(in srgb, var(--color-3-10) 60%, transparent 40%);

    h1 {
        font-weight: normal;
        text-shadow: 0 -2px 2px var(--color-2-9),
        0 -2px 4px var(--color-2-7),
        0 -8px 10px var(--color-3-8);
    }
}

.rsvp-content::after {
    content: "";
    position: absolute;
    bottom: -80px;
    right: -80px;
    width: 200px;
    height: 100%;
    background-image: url("../images/edge-bottom.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    transform: scaleX(-1);
    pointer-events: none;
}

.rsvp-confirm-message {
    font-family: var(--font-body, sans-serif);
    font-size: var(--font-size-xs, 16px);
    text-align: center;
    width: 80%;
}

.rsvp-form {
    display: flex;
    flex-direction: column;
    gap: var(--size-3);
    width: 100%;

    label {
        font-family: var(--font-menu, sans-serif);
    }

    input.error {
        outline: 0 none;
        border: solid 1.5px var(--color-secondary-variant-1);
    }

    select.error {
        outline: 0 none;
        border: solid 1.5px var(--color-secondary-variant-1);
    }

    .rsvp-input-error-message {
        color: var(--color-secondary-variant-1);
        font-size: var(--size-15);
        font-family: var(--font-body, sans-serif);
        opacity: 0;

        &.show {
            opacity: 1;
        }
    }

    .rsvp-input {
        width: 100%;
        height: var(--size-6);
        font-family: var(--font-body, sans-serif);
        position: relative;
        z-index: 10;
    }

    .rsvp-input-checkbox {
        margin-left: var(--size-2);
        height: var(--size-2);
        width: var(--size-2);
        vertical-align: middle;
        position: relative;
        z-index: 10;
    }

    .rsvp-input-textarea {
        width: 100%;
        max-width: 100%;
        height: var(--size-8);
        font-family: var(--font-body, sans-serif);
        position: relative;
        z-index: 10;
    }

    .rsvp-button {
        margin-top: var(--size-6);
    }

    &.submitting {
        .rsvp-button:disabled {
            cursor: not-allowed;
            background-color: var(--color-tertiary);
        }
    }
}
